.withstyle {
    border: 0;
    /* line-height: 2.5; */
    padding: 10px 20px;
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: rgb(220, 0, 0);
}

.withstyle:hover {
    background-color: rgb(255, 0, 0);
}

.withstyle:active {
  background-color: rgb(0, 0, 255);
}
