/*Your CSS SHould go here*/
div p {
  font-size: 20px;
  color: #0000ff;
  font-weight: bold;
}

html {
  background-color: #999999;
}

#name {
  font-size: 30px;
  text-align: center;
  color: #ff0000;
}

#excite {
  font-weight: bold;
  color: #ff0000;
  font-family: cursive;
}

.if {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.pic {
  height: 200px;
  border: 2px solid #000000;
  box-shadow: 3px 3px;
}
